.header {
  &__main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/87a1d9d8-a21d-4109-ba3a-c10d9055f5cf/5491a337-dd7f-423e-aac5-6da179feb9b9/FR-fr-20220307-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 772px;
    max-width: 100%;
  }
  &__logo {
    img {
      height: 45px;
      width: 167px;
    }
  }
}
