.hero {
  &__main {
    img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 900px;
      width: 100%;
    }
  }
  &__content {
    position: absolute;
    left: 5%;
    top: 20%;
    padding-top: 170px;
    h1{
      color: red;
      font-size: 100px;
    }
  }
  &__filter {
    position: absolute;
    top: 850px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    select {
      cursor: pointer;
      background-color: black;
      border: 1px solid white;
      color: white;
      margin-left: 20px;
      padding: 5px;
    }
  }
  &__button {
    display: flex;
    flex-wrap: wrap;
    &__play {
      margin-left: 20px;
      background-color: white;
      border-radius: 3px;
      padding: 10px 30px;
      .icon {
        &__play {
          padding-left: 10px;
          color: black;
        }
      }
    }
    &__info {
      margin-left: 20px;
      background-color: grey;
      border-radius: 3px;
      padding: 10px 30px;
      .icon__info {
        padding-left: 10px;
      }
    }
  }
}
